*{font-family: 'Roboto', sans-serif;}

header{
    border: .2em solid black;
    border: .2em solid black;
    background-color: #1c4587;
    height: 4em;
    color: white;
    text-align: center; 
}

main{
    padding:1 em;
    text-align: center;
}

p{
    padding:0em;
    text-align: center;
}

footer{
    background-color: #1c4587;
    border-radius: .2em;
    padding: 3em;
    margin-top: 20rem;
    border: .2em solid black;
}

/* Section: Class */
.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.floating-box{
    background-color: hsl(212deg 41% 69%);;
    padding: .5rem;
    margin-top: 3em;
    height: 1em;
    width: 60em;
}

.lorem{
    width:30em;
    margin-right: 5em;
    text-align: left;
}

.image-box{
    background-color: #1c4587;
    height: 11rem;
    width:15rem;
    margin-bottom: 1rem;
}

.article{
    text-align: center;
    margin-left: 59rem;;
    margin-right: 21rem;
}

.card{
    height: 15vh;
    width: 15vw;
}

.d-flex{
    display: flex;
}

.display-center{
    display: center;
}


